// colors
$text: #25202F;
$accent: #8643DC;

// Font
$default: "red-regular";
$medium: "red-medium";
$bold: "red-bold";

// Icons bootstrap
$bootstrap-icons-font: "bootstrap-icons" !default;
$bootstrap-icons-font-dir: "../../font/" !default;
$bootstrap-icons-font-file: #{$bootstrap-icons-font-dir}/#{$bootstrap-icons-font} !default;
$bootstrap-icons-font-hash: "24f5f9034842e5d77cd3846dc99a0e8a" !default;
$bootstrap-icons-font-src: url("#{$bootstrap-icons-font-file}.woff2?#{$bootstrap-icons-font-hash}") format("woff2"), url("#{$bootstrap-icons-font-file}.woff?#{$bootstrap-icons-font-hash}") format("woff") !default;
